$white: #FFFFFF;
$black: #000000;
$grey-neutral: #D3D8DD;
$primary-light: #E8E9EA;
$primary-neutral: #343A42;
$primary-dark: #262D38;
$primary-darker: #1F242d;
$pop-color: #383e49;
$social-facebook: #3B5999;
$social-twitter: #55ACEE;
$social-dribble: #DE4F85;
$social-behance: #0055F8;
$social-instagram: #A63690;
$social-linkedin: #0275B4;