$themes: (
  light: (
    white: #FFFFFF,
    black: #000000,
    grey-neutral: #D3D8DD,
    primary-light: #E8E9EA,
    primary-neutral: #343A42,
    primary-dark: #262D38,
    primary-darker: #1F242D,
    pop-color: #383E49,
  ),
  dark: (    
    white: #000000,
    black: #FFFFFF,
    grey-neutral: #3D444D,
    primary-light: #1F242D,
    primary-neutral: #AEB5BD,
    primary-dark: #D3D8DD,
    primary-darker: #E8E9EA,
    pop-color: #B4B9BD,
  ),
);